<div class="list-container">
  <h2 class="title">📋 Lista de Invitados</h2>

  @if (loading()) {
    <div class="loader">🎈 Cargando invitados...</div>
  }
  @if (!loading() && error()) {
    <div class="error">❌ {{ error() }}</div>
  }
  @if (!loading() && !error()) {
    <ul class="invite-list">
      @for (invite of invites(); track invite.id) {
        <li class="invite-item compact">
          <span class="family">🎉 {{ invite.family }}</span>

          <span class="status">
            @if (invite.isConfirmed) {
              <span class="confirmed"> ✅ {{ invite.updatedAt | date: 'dd/MM/yyyy HH:mm' }} </span>
            } @else {
              <span class="pending">⏳ Pendiente</span>
            }
            <span class="share-icon" (click)="share(invite)">🔗</span>
          </span>

          <span class="counts">
            👨Adultos: {{ invite.adults }}/{{ invite.allowedAdults }} · 🧒Niños:
            {{ invite.children }}/{{ invite.allowedChildren }} · 🪑Mesa:
            {{ invite.mesa }}
          </span>
        </li>
      }
    </ul>

    <!-- Totales -->
    <!-- Totales -->
    <div class="totals">
      <strong>🎊 Totales invitados</strong>
      <div>👨 Adultos: {{ invitedAdults() }}</div>
      <div>🧒 Niños: {{ invitedChildren() }}</div>
      <div>Total: {{ invitedChildren() + invitedAdults() }}</div>
    </div>
    ---------------------------------
    <div class="totals">
      <strong>🎊 Totales confirmados</strong>
      <div>👨 Adultos: {{ totalAdults() }}</div>
      <div>🧒 Niños: {{ totalChildren() }}</div>
      <div>Total: {{ totalAdults() + totalChildren() }}</div>
    </div>
  }
</div>
